.navbar {
    height: auto;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.navbar-nav.mobile-bar {
    display: block;
    max-height: 64px;
    margin: 0px -15px;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
    display: none;
}

.navbar-nav.mobile-bar {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
	display: block;
	font-size: 1.8em;
}
/* Login */
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.mg-btm {
margin: 0 0 15px 0;
}