<h1>Create Request</h1>

<form>
  <div class="form-group">
    <label for="prayForText">Pray For:</label>
    <input type="email" class="form-control" id="prayForText" placeholder="Who do you want to pray for?">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> My Reminders
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Share
    </label>
  </div>
  <button type="submit" class="btn btn-default">Create</button>
</form>
