<h3>Today</h3>
<div class="list-group">
  <a class="list-group-item">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-circle fa-stack-1x"></i>
              </span>
          </div>
          <div class="media-body">
              <img src="http://lorempixel.com/50/50/people" class="pull-right img-circle" alt="">
              <h4 class="list-group-item-heading">FCC Youth</h4>
              <p class="list-group-item-text">Prayed for at 12:30pm today.</p>
          </div>
      </div>
  </a>
  <a class="list-group-item disabled">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <img src="http://lorempixel.com/50/50/people" class="pull-right img-circle" alt="">
              <h4 class="list-group-item-heading">WCC Men</h4>
              <p class="list-group-item-text">Prayed for at 10:15am today.</p>
          </div>
      </div>
  </a>
</div>

<h3>Yesterday</h3>
<div class="list-group">
  <a class="list-group-item disabled">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <img src="http://lorempixel.com/50/50/people" class="pull-right img-circle" alt="">
              <h4 class="list-group-item-heading">FL Women</h4>
              <p class="list-group-item-text">Prayed for at 12:30pm today.</p>
          </div>
      </div>
  </a>
  <a class="list-group-item">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <img src="http://lorempixel.com/50/50/people" class="pull-right img-circle" alt="">
              <h4 class="list-group-item-heading">WCC Men</h4>
              <p class="list-group-item-text">Prayed for at 10:15am today.</p>
          </div>
      </div>
  </a>
  <a class="list-group-item disabled">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <img src="http://lorempixel.com/50/50/people" class="pull-right img-circle" alt="">
              <h4 class="list-group-item-heading">FL Women</h4>
              <p class="list-group-item-text">Prayed for at 12:30pm today.</p>
          </div>
      </div>
  </a>
  <a class="list-group-item">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <img src="http://lorempixel.com/50/50/people" class="pull-right img-circle" alt="">
              <h4 class="list-group-item-heading">WCC Men</h4>
              <p class="list-group-item-text">Prayed for at 10:15am today.</p>
          </div>
      </div>
  </a>
</div>
