<div class="list-group">
  <a class="list-group-item" href="#">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-circle fa-stack-1x"></i>
              </span>
          </div>
          <div class="media-body">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
          </div>
          <div class="media-right">
            <img src="http://i.pravatar.cc/60?u=user10" class="img-circle" alt="">
          </div>
      </div>
  </a>
  <a class="list-group-item disabled" href="#">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
          </div>
          <div class="media-right">
            <img src="http://i.pravatar.cc/60?u=user20" class="img-circle" alt="">
          </div>
      </div>
  </a>
  <a class="list-group-item" href="#">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-circle fa-stack-1x"></i>
              </span>
          </div>
          <div class="media-body">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
          </div>
          <div class="media-right">
            <img src="http://i.pravatar.cc/60?u=user30" class="img-circle" alt="">
          </div>
      </div>
  </a>
  <a class="list-group-item disabled" href="#">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
          </div>
          <div class="media-right">
            <img src="http://i.pravatar.cc/60?u=user40" class="img-circle" alt="">
          </div>
      </div>
  </a>
  <a class="list-group-item" href="#">
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-circle fa-stack-1x"></i>
              </span>
          </div>
          <div class="media-body">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
          </div>
          <div class="media-right">
            <img src="http://i.pravatar.cc/60?u=user50" class="img-circle" alt="">
          </div>
      </div>
  </a>
  <a class="list-group-item" href=#>
      <div class="media">
          <div class="media-left">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-circle fa-stack-1x"></i>
              </span>
          </div>
          <div class="media-body">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
          </div>
          <div class="media-right">
            <img src="http://i.pravatar.cc/60?u=user60" class="img-circle" alt="">
          </div>
      </div>
  </a>
</div>
