<nav class="navbar navbar-default navbar-fixed-top animate">
  <div class="container navbar-more">
    <ul class="nav navbar-nav mobile-bar">
      <li>
        <a href="#">
          <span class="menu-icon fa fa-user"></span>
          My List
        </a>
      </li>
      <li>
        <a href="#/groups">
          <span class="menu-icon fa fa-comments-o"></span>
          Groups
        </a>
      </li>
      <li>
        <a href="#/journal">
          <span class="menu-icon fa fa-book"></span>
          Journal
        </a>
      </li>
      <li>
        <a href="#">
          <span class="menu-icon fa fa-cog"></span>
          Settings
        </a>
      </li>
    </ul>
  </div>
</nav>

